body {
    
}

.ace-xml {
    width: 45%; 
    height: 70%;
    position: absolute; 
    bottom: 8%;
}

.ace-cpp {
    width: 45%; 
    height: 70%;
    position: absolute; 
    bottom: 8%;
    left: 54%;
}

ul {
    position: absolute;
    width: 15%;
    bottom: 1px;
    right: 2%;
}

button {
    width: 50%;
    height: 50%;
    font-size: 20px;
    font-style: inherit;
    font-weight: 700;
}



