body {
    
}

.ace-xml {
    width: 45%; 
    height: 75%;
    position: absolute; 
    bottom: 8%;
}

.ace-cpp {
    width: 45%; 
    height: 75%;
    position: absolute; 
    bottom: 8%;
    left: 54%;
}

ul {
    position: absolute;
    bottom: 1px;
    right: 2%;
}

button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-style: inherit;
    font-weight: 700;
}



