.ace-cpp {
    width: 80%; 
    height: 85%;
    position: absolute; 
    top: 8%;
}

button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-style: inherit;
    font-weight: 700;
}

ul {
    position: absolute;
    bottom: 5%;
    right: 2%;
}